<section>
    <div class="header">
        <h2 class="logo">THE EDITING FACTORY</h2>
        <ul>
            <li>
                <a href="#" class="active">Home</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Business</a>
            </li>
            <li>
                <a href="#">Agencies</a>
            </li>
            <li>
                <a href="#">About US</a>
            </li>
            <li>
                <a href="#">SignIn</a>
            </li>
        </ul>
    </div>
<ng-content></ng-content>
</section>